{% extends "base_layout.html" %}

{% block page_title %} Bilans ouverts {% endblock %}

{% block main_content %}
<div class="thumbrow">
    <form id="form-balance-{{ balance.ID }}" name="expense" action="{{ prefix }}/dispatch" method="post">
        <div id="title">
            <h2>
                    Bilan n° {{ balance.ID }} ({{ balance.debtors|join(', ') }})
            </h2>
        </div>
        <table id="plugandtable"
               width="760"
               height="48"
               cellpadding="5"
               border="1"
               cellspacing="0"
               class="sortable c9"
               onmouseover="javascript:trackTableHighlight(event, '#DAFCF9')"
               onmouseout="javascript:highlightTableRow(0);">
            <tr id="header">
                <th align="center" class="c2" height="24">
                    <span class="c1">Date</span>
                </th>

                <th align="center" class="c3" height="24">
                    <span class="c1">Nom</span>
                </th>

                <th align="center" class="c3" height="24">
                    <span class="c1">Description</span>
                </th>

                <th align="center" class="c4" height="24">
                    <span class="c1">Montant</span>
                </th>
            </tr>
            {% for expense in balance.expenses %}
            <tr>
                <td align="left" class="c5" height="24">
                    <span class="c1">{{ expense.year }}-{{ expense.month }}-{{ expense.day }}</span>
                </td>

                <td align="left" class="c6" height="24">
                    <span class="c1">{{ expense.buyer }}</span>
                </td>

                <td align="left" class="c7" height="24">
                    <span class="c1">{{ expense.description }}</span>
                </td>

                <td align="left" class="c8" height="24">
                    <span class="c1">{{ "CHF %.2f"|format(expense.amount) }}</span>
                </td>

                <td align="left" class="c8" height="24">
                    <span class="c1"><input type="checkbox" name="flag-{{ expense.ID }}" value="True"></span>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td align="left" class="c5" height="24">
                    <span class="c1"><input id="date" type="text" value="{{ today }}" name="date"></span>
                </td>

                <td align="left" class="c6" height="24">
                    <span class="c1"><input type="text" name="name"></span>
                </td>

                <td align="left" class="c7" height="24">
                    <span class="c1"><input type="text" name="description"></span>
                </td>

                <td align="left" class="c8" height="24">
                    <span class="c1"><input type="text" name="amount"></span>
                </td>
            </tr>
        </table>
        <div>&nbsp;
        </div>
        <input type="hidden" name="balance_id" value="{{ balance.ID }}">
        <button type="submit" name="action" value="expense-insert">Ajouter</button>
        <button type="submit" name="action" value="expense-delete">Supprimer la sélection</button>
        <button type="submit" name="action" value="balance-close">Fermer le bilan</button>
    </form>
</div>

<div class="thumbrow">
    <table id="plugandtable"
           width="560"
           height="48"
           cellpadding="5"
           border="1"
           cellspacing="0"
           class="c9"
           onmouseover="javascript:trackTableHighlight(event, '#DAFCF9')"
           onmouseout="javascript:highlightTableRow(0);">

        <tr>
            <th align="center" class="c4" height="24">Total dépensé</th>
            <td align="center" class="c5" height="24">
                <span class="c1">{{ "CHF %.2f"|format(balance.total) }}</span>
            </td>
        </tr>
        <tr>
            <th align="center" class="c4" height="24">Moyenne par personne</th>

            <td align="center" class="c5" height="24">
                <span class="c1">{{ "CHF %.2f"|format(balance.average) }}</span>
            </td>
        </tr>
    </table>
</div>

<div class="thumbrow">
    <table id="plugandtable"
           width="460"
           height="48"
           cellpadding="5"
           border="1"
           cellspacing="0"
           class="c9"
           onmouseover="javascript:trackTableHighlight(event, '#DAFCF9')"
           onmouseout="javascript:highlightTableRow(0);">
    {% for payer in balance.personal_debts.keys() %}
        {% if balance.personal_debts[payer]|length %}
        <tr>
            <th align="center"
                class="c4"
                height="24"
                rowspan="{{ balance.personal_debts[payer]|length }}">Dettes {{ payer }}</th>

            {% for receiver in balance.personal_debts[payer].keys() %}
                <td align="center" class="c5" height="24">{{ "CHF %.2f à %s"|format(balance.personal_debts[payer][receiver], receiver) }}</td>
            {% endfor %}
        </tr>
        {% endif %}
    {% endfor %}
    </table>
</div>


{% endblock %}
